.App {
  text-align: center;
  height: 92%;
}
.header{
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color: #66004d;
}
.header a{
  color: #fff;
  text-decoration: none;
}
.register{
  text-align:center;
}
.register input{
  /* display:block; */
}